.projectCard{
    border: 2px solid black;
    width: 100%;
    max-width: 500px;
    margin: 15px 10px 15px 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.projectCard:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: box-shadow 0.30s ease-in-out;
}

.projectCardBox{
    width: 100%;
    height: 100%;
}

.projectCover{
    max-width: 500px;
}

.projectCoverImg{
    width: 100%;
    max-width: 500px;
    object-fit: cover;
}

.projectDescription{
    padding-left: 15px;
    max-width: 500px;
}

.projectName{
    text-decoration: underline;
    font-weight: bold;
}

.projectLink{
    color: black;
    text-decoration: underline double;
    vertical-align: baseline;
}

.projectLink:hover{
    text-decoration: underline;
}

.bold{
    font-weight: bold;
    text-decoration: underline;
}

@media(width < 500px){
    .projectCard{
        margin: 15px 25px 15px 25px;
    }
}