.divBoxFooter{
    padding: 10px 0px 10px 0px;
}
.divGeneral{
    display: flex;
    justify-content: space-around;
}

.logoFooter{
    width: 70px;
    border-radius: 50%;
}

.copyParagraph{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.iconCopy{
    margin-right: 5px;
}

.iconFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconFooter > a{
    font-size: 30px;
    margin: 10px;
    color: black;
}

