.divBoxFooter{
    border-top: 3px solid black;
    padding: 10px 0px 10px 0px;
}
.divGeneral{
    display: flex;
    justify-content: space-around;
}

.logoFooter{
    width: 70px;
}

.copyParagraph, .creditLogo, .linkDiscord{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.iconCopy{
    margin-right: 5px;
}

.linkDiscord{
    color: black;
    text-decoration: underline double;
}

.linkDiscord:hover{
    text-decoration: underline;
}

.iconCredit{
    margin-left: 5px;
}

.iconFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconFooter > a {
    font-size: 30px;
    margin: 10px;
    color: black;
    
}

.iconFooter > a:hover {
    color: #292929;
    transition: color 0.30s ease-in-out;
}

@media(width < 500px){
    .creditLogo, .iconFooter{
        display: flex;
        flex-direction: column;
    }

    .copyCredit{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logoFooterParagraph{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}